name: Test

on:
  push:
    branches:
    - main
    - opencensus
    tags:
    - '*'
  pull_request:
    branches:
    - main
    - opencensus

jobs:
  test:
    strategy:
      fail-fast: false

      matrix:
        redis:
        - '6.0'
        - '5.0'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-go@v2
      with:
        go-version: '1.14'

    - uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Lint
      run: make fmtcheck staticcheck spellcheck

    - name: Test
      run: make test
      env:
        REDIS_HOST: 127.0.0.1
        REDIS_PORT: 6379
        REDIS_PASS: testing123
